#grid {
  margin: 0 auto;
  margin-top: 62px;
  width: max-content;
  background: white;
  border: 1px solid $grid-border;
}

.node {
  background: white;
  border: 1px solid $grid-border;
  width: $node-size;
  height: $node-size;
}

.row {
  display: flex;
}

.wall {
  background: $wall-color;
  border: 1px solid $wall-color;
}

.home {
  background: red;
}

.sweepa div {
  height: $node-size;
  width: $node-size;
  background: $blue;
  border-radius: 50%;
  display: block;
}

.visited {
  background: pink;
}

.return {
  background: white;
}