#grid {
  margin: 0 auto;
  width: max-content;
  background: white;
  border: 1px solid $grid-border;
}

.node {
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  border: 1px solid $grid-border;
  width: $node-size;
  height: $node-size;
}

.swept div {
  height: $swept-size;
  width: $swept-size;
  background: #ffdfc2;
  border-radius: 50%;
  transition: 0.2s;
}

.row {
  display: flex;
}

.home {
  background: rgb(71, 161, 139);
}

.sweepa div {
  height: $node-size;
  width: $node-size;
  background: $blue;
  border-radius: 50%;
  transition: 0.05s;
}

@keyframes visited {
  0% { background: rgb(1, 40, 92) }
  25% { background: rgb(47, 98, 238) }
  100%   { background: rgb(30, 198, 228) }
}

.visited {
  animation-name: visited;
  animation-duration: 2.5s;
  background: rgb(30, 198, 228);
}

.return {
  background: rgb(195, 255, 230);
  animation-duration: 0s;
}

.wall {
  border: 1px solid $wall-color;
  background: $wall-color;
  transition: 0.2s;
  
  div {
    background: $wall-color;
    height: $swept-size;
    width: $swept-size;
    transition: 0.2s;
  }
}