#grid {
  margin: 0 auto;
  margin-top: 76px;
  width: max-content;
  background: white;
  border: 1px solid $grid-border;
}

.node {
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  border: 1px solid $grid-border;
  width: $node-size;
  height: $node-size;
}

.swept div {
  height: $swept-size;
  width: $swept-size;
  background: #ffdfc2;
  border-radius: 50%;
  transition: 0.2s;
}

.row {
  display: flex;
}

.home {
  background: rgb(71, 161, 139);
}

.sweepa div {
  height: $node-size;
  width: $node-size;
  background: $blue;
  border-radius: 50%;
  transition: 0.05s;
}

@keyframes visited {
  0%   { background: rgb(30, 60, 228) }
  // 50%  { background: rgb(99, 48, 180) }
  100% { background: rgb(251, 197, 249) }
}

.visited {
  // transition: 0.3s;
  animation-name: visited;
  animation-duration: 1.5s;
  background: pink;
}

.return {
  background: white;
}

.wall {
  border: 1px solid $wall-color;
  background: $wall-color;
  transition: 0.2s;
  
  div {
    background: $wall-color;
    height: $swept-size;
    width: $swept-size;
    transition: 0.2s;
  }
}