header {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 15px;
}

.top-nav, .bottom-nav, .links, .info-btns, .object-btns, .option-btns {
  display: flex;
}

.top-nav {
  justify-content: space-between;
  position: relative;

  a {
    margin-right: 10px;
  }
}

.bottom-nav {
  position: absolute;
  top: 47px;
  right: 50%;
  transform: translate(402px);
  font-size: 16px;

  button {
    white-space: nowrap;
  }
}

h1.center {
  font-weight: bold;
  font-size: 32px;
  transform: translate(-50%, -5px);
}

button {
  padding: 5px 15px;
  color: $blue;
  background: white;
  border-radius: 5px;
}

.button {
  box-shadow: 0 7px #999;
}

.button:hover {
  background-color: #eeeeee;
}

.button:active, button.selected {
  background-color: #eeeeee;
  box-shadow: 0 4px #666;
  transform: translateY(4px);
}

#start-btn {
  margin: 0 30px;
  background: rgb(71, 161, 139);
  color: white;

  &:hover {
    background: rgb(65, 149, 128);
  }
}

.center {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
}

.object-btns, .option-btns {
  > div {
    margin: 0 10px;
  }
}

.dropdown-ctnr {
  position: relative;
  margin-left: 10px;
}

.dropdown-ctnr:hover .dropdown {
  display: block;
}

.dropdown {
  display: none;
  position: absolute;
  z-index: 10;
  right: 0;
  background: white;
  color: $blue;
  width: 300px;
  height: auto;
  font-size: 16px;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px -3px gray;
  text-align: center;
}

.dropdown.search {
  padding: 0;
  white-space: nowrap;
  transform: translate(calc(50% - 36px));
  overflow: hidden;
  width: 250px;

  li {
    padding: 5px 0;
  }

  li:hover {
    background: rgb(226, 226, 226);
    cursor: pointer;
  }
}

#algo-category {
  border-bottom: 2px solid lightgray;
  font-weight: 600;
  font-size: 14px;
  padding: 8px 0;

  &:hover {
    cursor: default;
    background: white;
  }
}

.current-modes {
  margin: 0 auto;
  margin-top: 65px;
  font-size: 16px;
}