header {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 15px;
}

.top-nav, .bottom-nav, .links, .info-btns {
  display: flex;
}

.top-nav {
  justify-content: space-between;
  position: relative;
  font-size: 24px;

  a {
    margin-right: 10px;
  }
}

.info-btns {
  padding-left: 61px;
}

.bottom-nav {
  font-size: 16px;
  margin: 0 auto;

  button {
    white-space: nowrap;
  }
}

h1.center {
  font-weight: bold;
  font-size: 32px;
}

.dropdown-ctnr {
  position: relative;
  margin-left: 10px;

  &:hover .dropdown {
    display: block;
  }
}

.dropdown {
  display: none;
  position: absolute;
  z-index: 10;
  right: 0;
  background: white;
  color: $blue;
  width: 300px;
  height: auto;
  font-size: 16px;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px -3px gray;
  text-align: center;
}

.current-modes {
  margin: 0 auto;
  font-size: 16px;
}